
@{
    ViewBag.Title = "بيانات السيرة الذاتية";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link href="~/Content/compstyle.css" rel="stylesheet" />
<form action="#" class="form-horizontal" method="post" role="form">

    <div class="text-right">
        <div class="AllContent">
            <div class="col-xs-12 col-md-4 right sideBar" id="left-side">
                <div class="img_hex">
                    <img class="imageSize" src="~/images/5.jpg" />
                </div>
                <label class="name"><strong>اسم المتقدم كاملاً</strong></label>
                <label class="job-titles">الاسم الوظيفي - من الوضيفة المستهدفة</label>
                <div class="contactItem">
                    <hr />
                    <label id="myh3"><strong>بيانات التواصل</strong></label>
                    <ul class="list-icons">
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-map-marker i_sub_size"></i>
                            <label class="P_items">
                                عنوان المتقدم
                            </label>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-phone i_sub_size"></i>
                            <label class="P_items">
                                <a>777000000 (+967)</a>
                            </label>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-envelope i_sub_size"></i>
                            <label class="P_items">
                                <a>user@gmail.com</a>
                            </label>
                        </li>
                    </ul>
                    <hr />
                </div>
            </div>
            <div class="col-xs-12 col-md-8 right ContentBar" id="Right-side">
                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; معلومات شخصية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        انا |اسم المتقدم| انا |ذكر|-|الحالة الاجتماعية| عمري |20| سنة
                        انا|الجنسية|الجنسية.
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; الخبرات العملية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        عملت كـ|المسمى الوضيفي| في |الدور الوضيفي| لدى |اسم الشركة| 
                        و التي تعمل في |طبيعة العمل| وذلك من تاريخ |تاريخ البدء| الى|تاريخ ترك العمل|.
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; المؤهلات العلمية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        اتممت مرحلة الـ |الشهادة| في |التخصص| وذلك في |المؤسسة التعليمية|
                        |المدينة| - |الدولة| بتاريخ |تاريخ الانتهاء|.
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; الدورات التدريبية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        اسم الدورة
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; شهادات دولية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        اسم الشهادة
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; الاعمال التطوعية
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        عملت في المجال التطوعي كـ|العمل التطوعي| وذلك من تاريخ |تاريخ البدء|
                        الى |تاريخ الانتهاء|.
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        &#9899; المهارات
                    </label>
                </div>
                <div class="form-group">
                    <label class="lableContent col-sm-5 mrg">
                        المهارة
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/compScript.js"></script>