<div class="col-xs-5 col-md-3 right sideBar" id="left-side">
    @*============================*@
    <hr />
    <ul class="list-unstyled components">

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i> اعدادات الحساب</a>
            <ul class="collapse list-unstyled" id="homeSubmenu4">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false"><i class="fa fa-file-text-o" aria-hidden="true"></i> السيرة الذاتية</a>
            <ul class="collapse list-unstyled" id="homeSubmenu3">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i> البحث</a>
            <ul class="collapse list-unstyled" id="homeSubmenu2">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false"><i class="fa fa-question-circle-o" aria-hidden="true"></i> الاسئلة الشائعة</a>
            <ul class="collapse list-unstyled" id="homeSubmenu1">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#PrivacyPolisy" data-toggle="collapse" aria-expanded="false"><i class="fa fa-low-vision" aria-hidden="true"></i> الخصوصية</a>
            <ul class="collapse list-unstyled" id="PrivacyPolisy">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false"><i class="fa fa-file-text" aria-hidden="true"></i> التقدم الى الوظائف</a>
            <ul class="collapse list-unstyled" id="homeSubmenu5">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false"><i class="fa fa-line-chart" aria-hidden="true"></i> التقارير و الاحصائيات</a>
            <ul class="collapse list-unstyled" id="homeSubmenu6">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu7" data-toggle="collapse" aria-expanded="false"><i class="fa fa-life-ring" aria-hidden="true"></i> الدعم الفني</a>
            <ul class="collapse list-unstyled" id="homeSubmenu7">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu8" data-toggle="collapse" aria-expanded="false"><i class="fa fa-filter" aria-hidden="true"></i> الفلترة و التنقيح</a>
            <ul class="collapse list-unstyled" id="homeSubmenu8">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu10" data-toggle="collapse" aria-expanded="false"><i class="fa fa-commenting-o" aria-hidden="true"></i> حول موقع لينك</a>
            <ul class="collapse list-unstyled" id="homeSubmenu10">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>

        <li class="subTitles colom">
            <a id="myh3" href="#homeSubmenu11" data-toggle="collapse" aria-expanded="false"><i class="fa fa-at" aria-hidden="true"></i> الموقع</a>
            <ul class="collapse list-unstyled" id="homeSubmenu11">
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/userAgreement"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>اتفاقية المستخدم</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/privacyPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة الخصوصية</a>
                    </label>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                    <label class="P_items">
                        <a href="~/Help/CockesPolicy"><i class="fa fa-circle-o subIc" aria-hidden="true"></i>سياسة ملفات تعريف الارتباط</a>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <hr />
    @*============================*@
</div>