
@{
    ViewBag.Title = "سياسة ملفات تعريف الارتباط";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link href="~/Content/Help.css" rel="stylesheet" />
<div class="text-right">
    <div class="AllContent">
        @Html.Partial("_HelpSideBar", "Help")
        <div class="col-xs-7 col-md-9 right ContentBar" id="Right-side">

            <div class="form-group">
                <label class="lableContent col-xs-12 b">
                    نحن نؤمن بأنه علينا أن نكون واضحين ومنفتحين حول طريقة جمع واستخدام البيانات المتعلقة بك. 
                    وامتثالاً للشفافية، 
                    تنص هذه السياسة على معلومات مفصلة حول كيف ومتى نستخدم ملفات تعريف الارتباط.
                </label>
            </div>


            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    هل يستخدم موقع لينك ملفات تعريف الارتباط ؟
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نعم. كما هو موضح في 
                    <span class="b">سياسة الخصوصية</span>
                    فإننا نستخدم ملفات تعريف الارتباط من اجل توفير أفضل تجربة ممكنة لجميع المستخدمين
                    كما تساعدنا ملفات تعريف الارتباط في الحفاظ على حسابك آمنًا.
                    بالاستمرار في استخدام خدماتنا، فإنك توافق على استخدام ملفات تعريف الارتباط 
                    للأغراض الواردة في هذه السياسة.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    ما هو ملف تعريف الارتباط ؟
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    ملف تعريف الارتباط هو ملف صغير تم وضعه على جهازك لتمكين بعض الميزات والوظائف 
                    على سبيل المثال، تُمكّنا ملفات تعريف الارتباط من التعرف على جهازك،
                    وتأمين وصولك إلى  مواقعنا بشكل عام .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    متى يتم وضع ملفات تعريف الارتباط ؟
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يتم وضع ملفات تعريف الارتباط الدائمة في التعرف عليك كمستخدم حالي، حتى تتمكن من العودة الى الموقع
                    بسهولة بدون تسجيل الدخول مرة أخرى .
                    بعد تسجيل دخولك، يبقى ملف تعريف ارتباط دائم في متصفحك ويتم قراءته من قبل موقع لينك
                    عند العودة إلى موقعنا مرة اخرى
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    - التحكم في ملفات تعريف الارتباط
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تسمح معظم المتصفحات لك بالتحكم في ملفات تعريف الارتباط من خلال تفضيلات الإعدادت الخاصة بهم .
                    ولاكن إذا قيدت  إمكانية المواقع على تعيين ملفات تعريف الارتباط، 
                    فقد تجعل تجربة الاستخدام بأكملها أسوأ ،
                    حيث يمكن أن توقف حفظ الإعدادات المخصصة لك، مثل معلومات تسجيل الدخول .
                </label>
            </div>

        </div>
    </div>
</div>