@{
    ViewBag.Title = "المساعدة";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link href="~/Content/Help.css" rel="stylesheet" />
<div class="text-right">
    <div class="AllContent">
        @Html.Partial("_HelpSideBar", "Help")
        <div class="col-xs-7 col-md-9 right ContentBar" id="Right-side">
            <div class="form-group">
                <img class="imgPhoto left" src="~/images/help.svg" />
                <label class="col-xs-5 col-md-9 lableBigTitle">
                    مرحباً، لمعرفة كيف يمكننا مساعدتك؟
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-8 lableTitle">
                    يمكنك استكشاف دليل المساعدة، للتعرف على المزيد من الخيارات
                    والتعرف على كيفية العمل في موقع لينك.
                    كما انه يمكنك الحصول على تفاصيل اكثر حول طريقة الاستخدام
                    و سياسات الخصوصية و ادارة المحتوى,
                    بالاضافة الى كيفية البحث و الحصول على التقارير . 
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                   
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-5 col-md-9 lableBigTitle">
                    ماهو موقع لينك ؟
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                    لينك هو عبارة عن موقع الكتروني خدمي غير ربحي و الذي
                     يساعد في تسهيل مهام التوظيف بالنسبة لمزودي الوظائف ،
                    كما انها تساعد في تقديم فرص عمل اكبر للمتقدمين ،
                    بالاضافة الى انها تقوم بانشاء بيئة تنافسية تنمي الابداع و الحرفية مما يتيح لمزودي الوظائف 
                    الحصول على كادر وظيفي مئهل .
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-8 lableTitle">
                    - الرؤية
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                    ان نكون قادرين على توفير فرص عمل اكبر للقوى العاملة باستخدام وسائط جديدة و التكنلوجيا المتاحة ومن تحقيق منافع لهم ولأرباب العمل على حد سواء .
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-8 lableTitle">
                    - المهمة
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تمكين القوى العاملة  من مواجهة التحديات التي تواجههم من خلال انشاء فرص جديدة للعمل
                    مما يجعلهم مشاركين بشكل فعال في المجتمع .
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-8 lableTitle">
                    - القيم
                </label>
            </div>
            <div class="form-group">
                <label class="lableContent col-xs-12">
                   نحن نؤمن بقيم الإنجاز ، الحماس ، الإلهام ، التنوع ، الانفتاح ، والنزاهة.
                    لذلك نحن ملتزمون دائمًا بالتمسك بهذه القيم .
                </label>
            </div>
        </div>
    </div>
</div>