@{
    ViewBag.Title = "سياسة الخصوصية";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link href="~/Content/Help.css" rel="stylesheet" />
<div class="text-right">
    <div class="AllContent">
        @Html.Partial("_HelpSideBar", "Help")
        <div class="col-xs-7 col-md-9 right ContentBar" id="Right-side">
            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    المقدمة :
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12 b">
                    موقع لينك هو عباره عن منصة افتراضية للتوضيف .
                    يستخدم الأشخاص خدماتنا للعثور على غيرهم ولكي يتمكن غيرهم من العثور عليهم بشأن فرص الأعمال والتواصل مع الآخرين وتبادل المعلومات .
                    تُطبَّق سياسة الخصوصية على أي عضو أو زائر يستخدم الخدمات المضمنة .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الموافقة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    باستخدامك خدماتنا،
                    فأنت توافق على
                    <span class="b">سياسة الخصوصية</span>
                    بما في ذلك
                    <span class="b">سياسة ملفات تعريف الارتباط </span>
                    خاصتنا
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - تغيير
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    عند استخدامك لخدماتنا بعد عملية تحديث سياسة الخصوصية،
                    فأنت بذلك توافق على السياسة المعدلة .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    المعلومات التي نجمعها :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - التسجيل
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    لإنشاء حساب فأنت تقدم لنا بياناتك بما في ذلك الاسم وعنوان البريد الإلكتروني و/أو رقم الهاتف المحمول وكلمة المرور بالاضافة الى معلوماتك الاساسية .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الملف الشخصي
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    عند انشائك للملف الشخصي فانه لديك خيارات بشأن المعلومات التي يحتويها ملفك الشخصي، مثل التعليم وخبرات العمل والمهارات والصورة والمدينة أو المنطقة
                    وغيرها من المعلومات,
                    تساعدك معلومات الملف الشخصي على الاستفادة من خدماتنا بشكلٍ أكبر، بما في ذلك مساعدة أرباب العمل والوظائف للعثور عليك .
                    يعود إليك الخيار في تضمين معلومات حساسةفي ملفك الشخصي.
                    يرجى عدم نشر أو إضافة بيانات شخصية إلى ملفك الشخصي لا تود إتاحتها للعامة .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - ملفات تعريف الارتباط وإشارات الويب والتقنيات المشابهة الأخرى
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    عل النحو الموضح في سياسة ملفات تعريف الارتباط خاصتنا، نستخدم ملفات تعريف الارتباط والتقنيات المشابهة
                    للتعرف عليك و/أو جهازك
                    . يمكنك التحكم في ملفات تعريف الارتباط من خلال إعدادات متصفحك أو غيرها من الأدوات.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الرسائل
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نجمع معلومات عنك عندما تُرسل أو تستقبل أو تتعامل مع الرسائل فيما يتعلق بخدماتنا.
                </label>
            </div>

            <label class="col-xs-7 col-md-9 lableTitle">
                - معلومات اخرى
            </label>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تتسم خدماتنا بالديناميكية وغالبًا ما نقدم ميزات جديدة،
                    الأمر الذي قد يتطلب جمع معلومات جديدة.
                    فإذا جمعنا بيانات شخصية تختلف اختلافًا جوهريًا أو تُغيِّر كيفية استخدامنا لبياناتك بشكل جوهري،
                    فسنخطرك بذلك ويمكن أن نغيِّر سياسة الخصوصية هذه .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    كيفية استخدامنا لبياناتك :
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تعتمد كيفية استخدامنا لبياناتك على الخدمات التي تستخدمها وكيفية استخدامك لهذه الخدمات والخيارات التي تتخذها في إعداداتك .
                    حيث نستخدم البيانات التي لدينا عنك لتقديم خدماتنا ودعمها وتخصيصها (بما في ذلك الإعلانات) وجعلها ذات صلة وفائدة أكبر لك وللآخرين.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الخدمات
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نتيح لك البقاء على اتصال وذلك من خلال اتاحة البيانات الازمة للتواصل مع الاخرين
                    مما يتيح تبادل الفرص المهنية .
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نتيح لك البقاء على اطلاع بالعروض و الاحداث بخصوص المواضيع المهنية التي تهتم بها .
                    نحن نستخدم المعلومات التي جمعناها عنك للتوصية بالمحتوى ذي الصلة
                    والذي قد يساعدك في سعيك نحو فرصتك القادمة .
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تتيح لك خدماتنا استكشاف المسارات المهنية و البحث و امكانية العثور عليك و الفرص المهنية .
                    كما يمكن لمزودي الوظائف العثور على ملفك الشخصي و الاطلاع على السيرة الذاتية الخاصه بك
                    و تقييمك .
                    وقد نستخدم ملفك الشخصي ونشاطك لترشيح الوظائف لك ولأرباب العمل .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    -  دعم العملاء
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نستخدم البيانات الخاصة بك اللازمة للتحقيق في الشكاوى ومشكلات الخدمة ولمساعدتك في حلها .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الرؤى المجمعة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نستخدم المعلومات الخاصة بك لإنشاء الرؤى المجمعة التي لا تكشف هويتك .
                    على سبيل المثال، قد نستخدم البيانات الخاصة بك لتكوين إحصاءات عن مستخدمينا والمهن والمجالات الخاصة بهم
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الأمان والتحقيقات
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نستخدم البيانات الخاصة بك إذا اعتقدنا أن ذلك ضروريٌ لأغراض الأمان أو للتحقيق في احتيال ممكن أو أي انتهاكات أخرى لاتفاقية المستخدم خاصتنا أو سياسة الخصوصية هذه و/أو محاولات الإضرار بأعضائنا أو الزائرين .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    كيف نشارك المعلومات :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الملف الشخصي
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يمكن للآخرين مشاهدة أي معلومات تدرجها في ملفك الشخصي وأي محتوى تنشره أو إجراء اجتماعي (مثل التقييمات، المشاهدات) تتخذه عبر خدماتنا .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - مديرو الخدمات
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يعمل مديرو الخدمات على تقديم خدماتنا (مثل الصيانة والتدقيق وكشف الاحتيال والتطوير). 
                    وسيكون لديهم حق الوصول إلى المعلومات الخاصة بك بقدر الضرورة المعقولة لإجراء هذه المهام ويلتزمون بعدم الكشف عن المعلومات أو استخدامها لأغراض أخرى.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - عمليات الكشف القانونية
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    قد نحتاج إلى مشاركة بياناتك عندما نعتقد أن ذلك مطلوب قانونًا أو لحماية الأمان والحقوق الخاصة بك وبنا.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    خياراتك والتزاماتك :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الاحتفاظ بالبيانات
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نحتفظ بالبيانات الشخصية التي توفرها أثناء وجود حسابك أو حسب الحاجة لتوفير الخدمات لك. 
                    حتى إذا كنت تستخدم خدماتنا فقط عند البحث عن وظيفة جديدة كل بضعة أعوام، 
                    سنحتفظ بمعلوماتك وسنترك ملفك الشخصي مفتوحًا حتى تقرر إغلاق الحساب.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - حقوق الوصول والتحكم في بياناتك الشخصية
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نقدم العديد من الخيارات بخصوص جمع البيانات واستخدامها ومشاركتها ، 
                     من حذف أو تصحيح البيانات التي تدرجها في ملفك الشخصي والتحكم في ظهورها
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - إغلاق الحساب
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    إذا اخترت إغلاق حسابك فستتوقف بياناتك الشخصية بوجه عام عن الظهور للآخرين على خدماتنا
                    و سيتم حذف معلومات الحساب المغلق بوجه عام بعد فتره زمنيه اقصاها 30 يومًا من إغلاق الحساب .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    معلومات هامة أخرى :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الأمان
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    نطبق التدابير الأمنية المصممة لحماية بياناتك، ونراقب أنظمتنا بانتظام لرصد الثغرات والهجمات المحتملة.
                    ومع ذلك، لا يمكننا ضمان أمن أي من المعلومات التي ترسلها إلينا. 
                    ولا يوجد ضمان بعدم إمكانية الوصول إلى البيانات أو كشفها أو تغييرها أو إتلافها عن طريق انتهاك أي من أساليب الحماية المادية أو الفنية أو الإدارية لدينا. 
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - معلومات جهة الاتصال
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    إذا كانت لديك أسئلة أو شكاوى تتعلق بهذه السياسة،
                    يُرجى التواصل معنا عن طريق مراسلتنا من خلال البريد الالكتروني .
                </label>
            </div>

        </div>
    </div>
</div>