@{
    ViewBag.Title = "اتفاقية المستخدم";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link href="~/Content/Help.css" rel="stylesheet" />
<div class="text-right">
    <div class="AllContent">
        @Html.Partial("_HelpSideBar", "Help")
        <div class="col-xs-7 col-md-9 right ContentBar" id="Right-side">

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    المقدمة :
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12 b">
                    باستخدامك خدماتنا فأنت توافق على كل هذه الشروط. 
                    ويخضع استخدامك لخدماتنا أيضًا لسياسة ملفات تعريف الارتباط وسياسة الخصوصية لدينا، 
                    والتي تغطي كيفية جمعنا للمعلومات الشخصية واستخدامها ومشاركتها وتخزينها .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - العقد
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    بانضمامك الى موقع لينك
                    فأنت توافق على الدخول في عقد ملزم قانونيًا مع موقع لينك
                    (حتى لو كنت تستخدم خدماتنا نيابةً عن الشركة).
                    إذا كنت لا توافق على هذا العقد ( ”العقد“ أو ”اتفاقية المستخدم“)، او احد البنود الواردة فيه فلا تنقر فوق ”الانضمام“ (أو ما شابه)،
                    ولا تحاول الوصول إلى إحدى خدماتنا أو استخدامها .
                    ويخضع استخدامك خدماتنا أيضًا
                    <span class="b">لسياسة الخصوصية</span>
                    و
                    <span class="b">سياسة ملفات تعريف الارتباط </span>
                    لدينا.
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الخدمات
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    ينطبق هذا العقد على موقع لينك و على التطبيقات و الخدمات الاخرى المرتبطة به,
                    التي تنص على انها مقدمة بموجب هذا العقد ( ”الخدمات“)،
                    بما في ذلك مجموعة البيانات الخارجية الخاصة بهذه الخدمات، مثل الإعلانات والمكونات الإضافية
                    "التقديم او المشاركة" .
                    كما ان هذا العقد ساري على كل من المستخدمين المسجلين لدينا
                    و الزائرون على حدٍ سواء .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الأعضاء والزائرون
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    عند انضمامك الى موقع لينك فانك تصبح عضواً, اما إذا اخترت عدم الاشتراك في خدماتنا، يمكنك الوصول إلى ميزات معينة كزائر .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - التغيير
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يحق لنا تعديل هذا العقد وسياسة الخصوصية الخاصة بنا وسياسات ملفات تعريف الارتباط من حينٍ لآخر .
                    وإذا أجرينا تغييرات جوهرية عليها، فسنرسل لك إشعارًا
                    ، لنتيح لك فرصة استعراض التغييرات قبل تفعيلها. إذا كنت تعترض على أي تغييرات، يمكنك
                    <span class="b">حذف و اغلاق حسابك</span> .
                    حيث يعني الاستمرار في استخدام خدماتنا بعد نشر أو إرسال إشعار بشأن التغييرات التي أجريت على هذه الشروط موافقتك على الشروط المحدَّثة .
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    الحساب :
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    الأعضاء هم أصحاب الحسابات. حيث انه عند اشتراكك فأنت توافق على :
                    (1) محاولة اختيار كلمة مرور قوية وآمنة؛
                    (2) الحفاظ على أمان وسرية كلمة المرور الخاصة بك؛
                    (3) عدم نقل أي جزء من حسابك (مثل الزملاء)؛
                    (4) اتباع القانون وقائمة الأمور المسموح بها والمحظورة . 
                    كما انك مسؤول عن أي شيء يحدث عبر حسابك ما لم تغلقه أو تبلغ عن إساءة استخدام .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الإشعارات ورسائل الخدمة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    أنت توافق على أننا سنقوم بإرسال الإخطارات إليك عبر الطرق التالية :
                    (1) إشعار داخل الخدمة،
                    أو (2) رسالة يتم إرسالها إلى البريد الإلكتروني .
                    كماانك توافق على تحديثبيانات التواصل الخاصة بك .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - المشاركة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    تتيح ”الخدمات“ الخاصة بنا إرسال المعلومات في رسائل ومشاركتها بطرق عديدة،
                    كملفك الشخصي ومجموعة الشرائح والروابط المؤدية إلى منشورات الوظائف الجديدة .
                    قد تُتاح المعلومات والمحتوى الذي تقوم بمشاركته أو نشره لـ ”أعضاء“ أو لـ ”زائرين“ آخرين. حيثما أتحنا الإعدادات،
                    كما اننا نحترم الاختيارات التي اخترتها بشأن مَن بإمكانه مشاهدة المحتوى أو المعلومات الخاصة بك .
                    لسنا ملزمين بنشر أي معلومات أو محتوى على الخدمة، ويمكننا إزالتها حسب تقديرنا الخاص بإشعار مسبق أو بدونه .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    الحقوق والحدود :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - توفر الخدمة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يجوز لنا تغيير أي من ”الخدمات“ أو إيقافها. لا نعدك بتخزين أي من المعلومات أو المحتويات التي قمت بنشرها أو الحفاظ على ظهورها .
                    لسنا ملزمين بتخزين أو توفير أو الحفاظ على نسخة من أي من المحتويات أو المعلومات التي تقدمها أنت أو يقدمها الآخرون
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - المحتويات والمواقع والتطبيقات الأخرى
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    باستخدام ”الخدمات“، قد تصادف محتويات أو معلومات قد تكون غير دقيقة أو غير كاملة أو متأخرة أو مضللة أو غير قانونية أو مسيئة أو ضارة بأي شكل من الاشكال .
                    لايقوم موقع لينك بمراجعة المحتوي الذي يقدمه الأعضاء أو الآخرين .
                    أنت توافق على أننا لسنا مسؤولين عن محتوى الآخرين (بما في ذلك الأعضاء) أو معلوماتهم. لا يمكننا دائمًا منع إساءة استخدام خدماتنا هذه، 
                    كما توافق على أننا لسنا مسؤولين عن إساءة الاستخدام هذه .
                    كما تقر بأن المخاطر التي قد ترتبط بها أنت أو مؤسستك عن طريق الخطأ جراء هذا المحتوى الخاص بالآخرين .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    إخلاء المسؤولية وتحديدها :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - لا يوجد ضمان
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يخلي موقع لنك مسئوليته عن أي ضمانات وتعهدات ضمنية، (على سبيل المثال: ضمانات القابلية للتسويق التجاري، والملاءمة لغرض معين، ودقة البيانات وعدم الانتهاك)،
                    ولا يضمن موقع لنك أن الخدمات ستعمل بدون انقطاع أو أخطاء،
                    هذا إخلاء لمسؤوليتنا من أي التزام قانوني بجودة الخدمات أو أمانها أو فعاليتها .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الإنهاء
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    يحق للاعضاء او لموقع لينك إنهاء هذا العقد في أي وقت بتقديم إشعار للطرف الآخر. وعند الإنهاء ستفقد حق الوصول للخدمات أو استخدامها .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableBigTitle">
                    الامور المسموح بها و الامور المحضورة :
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الأمور المسموح بها
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    1-الالتزام بجميع القوانين السارية، قوانين الخصوصية .
                    2-تقديم معلومات دقيقة لنا والحفاظ على تحديثها .
                    3-استخدام اسمك الحقيقي في ملفك الشخصي .
                    4-استخدام ’الخدمات‘ بطريقة احترافية .
                </label>
            </div>

            <div class="form-group">
                <label class="col-xs-7 col-md-9 lableTitle">
                    - الأمور المحظورة
                </label>
            </div>

            <div class="form-group">
                <label class="lableContent col-xs-12">
                    1-التصرف بطريقة غير قانونية أو غير مهنية فيما يتعلق بخدماتنا، بما في ذلك الاتصاف بعدم الأمانة أو البذاءة أو التمييز .
                    2-نشر محتوى غير دقيق أو تشهيري أو فاحش أو مشين أو يحض على الكراهية أو مهدد أو أي محتوى غير لائق .
                    3-استخدام صورة شخصية لشخص اخر .
                    4-انشاء هوية شخصية مزيفة .
                    5-تحريف الهوية (مثل استخدام اسم مستعار)، أو تحريف وظيفتك أو مؤهلاتك أو انتسابك لشخص أو كيان سواءً حاليًا أو سابقًا .
                    6-استخدام حساب شخص آخر أو محاولة استخدامه .
                    7-إرسال أو نشر أي إعلانات غير مطلوبة أو غير مصرح بها .
                    8-الكشف عن معلومات ليس معك تصريح للكشف عنها (مثل معلومات الآخرين السرية (بما في ذلك معلومات عن صاحب العمل) .
                    9-نشر أي شيء يتضمن فيروسات تصيب البرامج، أو فيروسات متنقلة أو أي رموز ضارة أخرى .
                    10-إنشاء ملفات شخصية أو توفير محتوى يروج لخدمات جنسية أو دعارة .
                    11-إنشاء أو تشغيل مخطط تسويقي هرمي أو القيام بالاحتيال أو ممارسات مشابهة أخرى .
                    12-استخدام برامج بوت أو طرق آلية أخرى للوصول إلى الخدمات، او انشاء حسابات او التقدم الى الوضائف وغيرها بشكل عشوائي  .
                    13-تجاوز أي خصائص أمان للخدمات .
                    14-التداخل مع تشغيل الخدمات أو وضع حمل غير مبرر عليها (مثل البريد العشوائي، وهجوم الامتناع عن الخدمة، والفيروسات وغيرها .
                </label>
            </div>
        </div>
    </div>
</div>