
@{
    ViewBag.Title = "temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>temp</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#sendData').click(function () {
            var movie = 3;
            var rating = 2;

            var option = {
                url: '/Home/Movies',
                data: JSON.stringify({ movieId: movie, ratingValue: rating }),
                method: 'post',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8'
            };

            $.ajax(option).success(function(data) {
                alert(data);
            })
        });
    });
</script>


    <div>
        <input type="submit" value="Send data" id="sendData" />
    </div>

