*{
    box-sizing:border-box;
}
.row{
      width:100%;
  max-width:100%;
}
.sideBar{
    background-color:#3f5771;
}
.ContentBar{
    padding:50px 30px;
}
.img_hex{
    text-align:center;
    padding:20px 0;
}
.imageSize{
    border-radius:50%;
    height:140px;
    width:140px;
    border: solid 3px #354b63;
}
hr{
        border:solid 1px #354b63;
}
.name{
     text-transform: uppercase;
     font-size:20px;
       color: white;
  text-align: center;
  margin-bottom:-3px;
}
.job-titles{
    font-size:16px;
      color: #bbb;
  text-align: center;
}
.text-right{
    margin-top:-6px;
}
li_Stail,li i,li .P_items,ul li a{
    color: #bbb;
    font-size:15px;
}
.fa{
    font-size:20px;
}
#myh3{
     text-transform: uppercase;
     font-size:20px;
     color: white;
     text-align: center;
     margin-bottom:30px;
}
list-icons,ul li{
    list-style: none;
    margin: 0;
}
.contactItem{
    text-align:center;
    margin-top:100px;
}
.lableTitle{
    font-size:20px;
}
lableContent{
    font-size:17px;
    color:#222;
}
.space{
    padding:20px 0;
}
.P_items{
    padding:10px 0;
}
.mrg{
    margin:0 30px;
}