@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/style-loginForm.css" rel="stylesheet" />
<div style="margin-top:-100px;">
    <img src="~/images/HomeBackground.png" style="width:100%; margin-bottom:10px;" />

@if (!Request.IsAuthenticated)
{
    @Html.Partial("_LoginForm", new ViewDataDictionary { { "message", ViewBag.message } })
}
    <div class="container">
        <div class="row container-imgs">
            <h3 class="TitleBoxs">ماهو موقع لينك للتوظيف ؟</h3>
            <p>هو موقع يهدف الى توفير خدمات البحث عن الوظائف في البلدان العربية والاجنبية بصورة مجانية وايظا يمكن لمزودي الوظائف البحت عن الموظفون في اي مجال وظيفي وايضا بشكل مجاني وبذالك يعتبر اول موقع يقدم مثل هذه الخدمات بشكل مجاني على عكس المواقع الأخرى العربيه او الأجنبية   </p>
            <div class="col-sm-3 thumbnail workImgs">
                <img src="~/images/MoneyIcon.png" />
                <p>حصولك على الوظيفة التي تريدها دون دفع اي مقابل</p>
            </div>
            <div class="col-sm-3 thumbnail workImgs">
                <img src="~/images/resume.jpg" />
                <p>نساعدك في الحصول على الوظيفة التي تناسب قدراتك المذكورةفي سيرتك الذاتيه</p>
            </div>
            <div class="col-sm-3 thumbnail workImgs">
                <img src="~/images/stopwatch.png" />
                <p>حصولك على الوظيفة في اسرع وقت ممكن وذلك بسبب اتاحة وعرض سيرتك الذاتية لمزودين الوظائف</p>
            </div>
            <div class="col-sm-3 thumbnail workImgs">
                <img src="~/images/SelectEmployee.jpg" />
                <p>نساعد مزودو الوظائف في اختيار الموظف المناسب حسب سيرته الذاتية</p>
            </div>
        </div>

        <div class="row container-imgs" id="search-according-domain">
            <span id="Jobs"></span>
            <h3 class="TitleBoxs">ابحث عن الوظائف بحسب التخصص</h3>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/1.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/2.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/3.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/4.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>

            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/5.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/6.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/7.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/8.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
        </div>

        <div class="row container-imgs" id="search-according-domain">
            <h3 class="TitleBoxs">ابحث عن الوظائف بحسب البلد</h3>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/9.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/10.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/11.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/12.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>

            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/1.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/2.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/3.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>
            <div class="thumbnail col-sm-3 searchImgs">
                <img src="~/images/4.jpg" />
                <p> <!--Write Here about job--> </p>
            </div>

        </div>
        <div class="jumbotron">
            <h2 style="text-align:center;">تقارير احصائية</h2>
        </div>

    </div>

</div>
