<link href="~/Content/StyleSeekerNavbar.css" rel="stylesheet" />
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img class="logo-img" src="~/images/Job-Searh-icon-Converted1.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse nav-font">
            <ul class="nav navbar-nav navbar-text">
                <li class="navbar-Items">
                    <a href="~/Home/index" class="navbar-Item">
                        الرئيسية
                    </a>
                </li>
                <li class="navbar-Items">
                    <a href="#Jobs" class="navbar-Item">
                        الوظائف
                    </a>    
                </li>
                <li class="navbar-Items">
                    <a href="#" class="navbar-Item">
                        كيف تستخدم موقع لينك
                    </a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
