
@{
    ViewBag.Title = "بيانات الشركة";
}
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link href="~/Content/compstyle.css" rel="stylesheet" />
<form action="#" class="form-horizontal" method="post" role="form">

    <div class="text-right">
        <div class="AllContent">
            <div class="col-xs-12 col-md-4 right sideBar" id="left-side">
                <div class="img_hex">
                    <img class="imageSize" src="~/images/6.jpg" />
                </div>
                <label class="name"><strong>اسم الشركة</strong></label>
                <label class="job-titles">المسمى الوضيفي</label>
                <div class="contactItem">
                    <hr />
                    <label id="myh3"><strong>بيانات التواصل</strong></label>
                    <ul class="list-icons">
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-map-marker i_sub_size"></i>
                            <label class="P_items">
                                موقع الشركة
                            </label>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-phone i_sub_size"></i>
                            <label class="P_items">
                                <a>777000000 (+967)</a>
                            </label>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-envelope i_sub_size"></i>
                            <label class="P_items">
                                <a>Company@CompanyMile.com</a>
                            </label>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-12 li_Stail">
                            <i class="fa fa-globe i_sub_size"></i>
                            <label class="P_items">
                                <a>www.company.com</a>
                            </label>
                        </li>
                    </ul>
                    <hr />
                </div>
            </div>
            <div class="col-xs-12 col-md-8 right ContentBar" id="Right-side">
                <div class="form-group space">
                    <label class="lableTitle col-sm-3">
                        طبيعة عمل الشركة :
                    </label>
                    <label class="lableContent col-sm-5">
                        ..................................................
                    </label>
                </div>

                <div class="form-group space">
                    <label class="lableTitle col-sm-3">
                        حجم الشركة :
                    </label>
                    <label class="lableContent col-sm-5">
                        ..................................................
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableTitle col-sm-3">
                        نبذة عن الشركة :
                    </label>
                </div>

                <div class="form-group">
                    <label class="lableContent col-sm-12">
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                        ................................................................................................................................................................
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
