@model LinkForEmployment.Models.ApplyForJob

@{
    ViewBag.Title = "تفاصيل الوظيفة";
}

<h2>تفاصيل الوظيفة</h2>

<div>
    <h4>الوظيفة المتقدم اليها</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.jobName)
        </dd>

        <dt>
            تاريخ التقدم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("العودة الى قائمة الوظائف", "GetJobsByUser")
</p>
